body {
    background-color: #262626;
    text-align: center;
}
h1, h2, h3, p {
    color: white;
    text-align: center;
    font-family: Arial;
}

.input{
    font-family: Arial;
}

.containerclass{
    color: white;
    font-size: large;
}

/*
 * Footer
 */

a:link    {color:orangered;  text-decoration:none}
a:visited {color:orangered; text-decoration:none}
a:hover   {color:red; text-decoration:underline}


.tableFooter{
    margin-top: 15px;
}
.footerSvg{
    width: 32px;
}
